<div id="gj-dashboard-page">

    <!-- Jumbotron -->
    <div class="jumbotron text-center">
        <div class="container">

            <h2>
                <i class="fa fa-database"></i>
                {{ kinveyBackend.appName }}
                <span class="text-muted">| {{ kinveyBackend.environmentName }}</span>
            </h2>

            <div class="lead">
                <span ng-click="dashboardCtrl.changeBackend()" class="btn btn-lg btn-link">Change <i class="fa fa-sign-out"></i></span>
            </div>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-inline pull-left">

                    <!-- Search -->
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                            <input class="form-control" type="text" ng-model="dashboardCtrl.groupSearchTerm" placeholder="Deep Group Search"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-sm">

                                <!-- Refresh -->
                                <button type="button" class="btn btn-default"
                                        ng-click="dashboardCtrl.getGroups()"
                                        ng-disabled="dashboardCtrl.isPollChecked || dashboardCtrl.hasPendingRequest">
                                    <i class="fa {{ dashboardCtrl.hasPendingRequest ? 'fa-spinner fa-spin' : 'fa-refresh'}}"></i>
                                    Refresh
                                </button>

                            </div>

                        </div>
                    </div>

                    <!-- Poll -->
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="dashboardCtrl.isPollChecked">
                                Poll
                            </label>
                        </div>
                    </div>
                </form>

                <form ng-submit="dashboardCtrl.createGroup()" class="form-inline pull-right">
                    <!-- New Group -->
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-default" ng-click="dashboardCtrl.deleteAllGroupsClicked()">
                            <i class="fa fa-bomb"></i>
                            Delete All
                        </button>
                    </div>

                    <!-- New Group -->
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="text" ng-model="dashboardCtrl.newGroup._id" placeholder="New Group ID"/>

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" ng-disabled="!dashboardCtrl.newGroup._id">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-12">

                <!-- No Groups -->
                <p class="lead" ng-hide="dashboardCtrl.groups.length > 0 || dashboardCtrl.hasPendingRequest">
                    No groups for this backend, yet.
                </p>

                <!-- Groups -->
                <div class="gj-group panel panel-{{dashboardCtrl.codemirror.editors[$index].jsonIsValid ? 'default' : 'warning' }}"
                     ng-repeat="g in dashboardCtrl.groups | filter: {$:dashboardCtrl.groupSearchTerm} track by $index">

                    <div class="gj-group-heading">
                        <h4 class="pull-left">
                            {{ g._id }}
                        </h4>

                        <div class="gj-group-btn gj-invalid-btn btn btn-link"
                             ng-if="dashboardCtrl.codemirror.editors[$index].showJSON"
                             ng-hide="dashboardCtrl.codemirror.editors[$index].jsonIsValid">
                            <i class="fa fa-exclamation-triangle"></i>
                            Invalid JSON
                        </div>

                        <div class="gj-group-btn gj-save-btn btn btn-link"
                             ng-if="dashboardCtrl.codemirror.editors[$index].showJSON"
                             ng-click="dashboardCtrl.updateGroup($index)">
                            <i class="fa fa-check"></i> save
                        </div>

                        <div class="gj-group-btn gj-json-btn btn btn-link"
                             ng-if="dashboardCtrl.codemirror.editors[$index].showJSON"
                             ng-click="dashboardCtrl.toggleGroupShowJSON($index)">
                            <i class="fa fa-code"></i> cancel
                        </div>

                        <div class="gj-group-btn btn btn-link gj-json-btn"
                             ng-if="!dashboardCtrl.codemirror.editors[$index].showJSON"
                             ng-click="dashboardCtrl.toggleGroupShowJSON($index)">
                            <i class="fa fa-code"></i> editor
                        </div>

                        <div class="gj-group-btn btn btn-link gj-delete-btn"
                             ng-click="dashboardCtrl.deleteGroupClicked(g._id)">
                            <i class="fa fa-trash"></i> delete
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <pre ng-if="!dashboardCtrl.codemirror.editors[$index].showJSON">{{ g | json}}</pre>

                    <ui-codemirror ui-codemirror-opts="dashboardCtrl.codemirror.options"
                                   ng-if="dashboardCtrl.codemirror.editors[$index].showJSON"
                                   ng-class="{'gj-invalid-json': !dashboardCtrl.codemirror.editors[$index].jsonIsValid}"
                                   ng-change="dashboardCtrl.validateJSON($index)"
                                   ng-model="dashboardCtrl.codemirror.editors[$index].model">
                    </ui-codemirror>

                </div>
            </div>
        </div>
    </div>
</div>
