// Google fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// Bootstrap overrides
@import "../bower_components/bootstrap/less/bootstrap";

@font-family-base: 'Open sans', sans-serif;

@brand-primary: rgb(141, 187, 70);

@border-radius-base: 2px;
@border-radius-small: 2px;
@border-radius-large: 2px;


// Our LESS
body {
    padding-bottom: 200px;
}

// Dashboard
.gj-loading {
    font-size: 32px;
    color: #AAA;
}

.gj-delete-group-btn {
    cursor: pointer;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

// Footer
#gj-footer {
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    color: @gray-light;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background: #F5F5F5;
    z-index: 100;
    border-top: 1px solid #DDD;

    .gj-social-links {
        overflow: hidden;

        .gj-social-link {
            display: inline-block;
            width: 60px;
            height: 60px;
            font-size: 28px;
        }
        .gj-github {

        }
        .gj-web {
            img {
                height: 60px;
            }
        }
        .gj-facebook {

        }
    }
}
